:root {
    --alpha: rgb(17, 17, 17);
    --beta: rgb(79, 79, 79); 
    --omega: white;
    --kappa: rgb(243,243,243);
    --delta: rgb(225, 210, 204);
    --zeta: rgb(212,165,157);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--beta);
    font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
}

/* HEADER + NAV STYLES START */

header {
    background-color: var(--omega);
    padding: 20px 35px;
}

header a {
    text-decoration: none;
}

header h1 {
    color: var(--alpha);
    display: inline;
    margin: 50px;
    font-weight: bold;
    font-size: 50px;

}

header h1 a {
    color: var(--alpha);
}

header h1 a:hover {
    color: var(--delta);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: var(--alpha);
    margin: 0 60px;
    font-size: 18px;
}

header nav ul li a:hover {
    color:var(--zeta);
    text-shadow: 5px var(--alpha);
}

.hero {
text-align: center;
}

.hero-welcome h2 {
font-size: 50px;
font-weight: bold;
color: var(--beta);
}

.section-title {
    color: var(--alpha);
    margin-bottom: 35px;
    padding: 0 400px 20px 400px;
    display: inline-block;
    border-bottom: 1px solid;
}

.primary-border {
    border-color: var(--kappa);
}

/* third section - portfolio */
